

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap');


$white: #fff;
$peach: #FFC178;
$DM: 'DM Sans';

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
}



.container{
    max-width: 1751px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{
    &__img{
        background: url(../img/main.jpg);
        //backdrop-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-size:cover;
        background-position-x: center;
        background-repeat: no-repeat;
        padding-bottom: 80rem;
    }
    &__flex{
        display: flex;
        align-items: center;
        gap: 400px;
    }
    &__social{
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // gap: 2rem;
    }
    &__follow{
        transform: rotate(90deg);
        font-weight: 600;
        font-size: 1.8rem;
        color: $white;
        flex-grow: 1;
        flex-basis: content;
        margin: 0;
    }
    &__socialnav{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 60px;
    }
    &__link{
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 24px;
        height: 24px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        &_inst{
            background-image: url(../img/social/inst.svg);
        }
        &_twitter{
            background-image: url(../img/social/twitter.svg);
        }
        &_fb{
            background-image: url(../img/social/fb.svg);
        }
    }
    &__subtitle{
        color: $peach;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 25px;
        letter-spacing: 6px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 32px;
        &::before{
            content: "";
            width: 72px;
            height: 2px;
            background-color: $peach;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 88px;
        line-height: 100px;
        text-transform: capitalize;
        color: $white;
    }
    &__span{
        font-weight: 700;
        display: block;
    }
    &__btn{
        display: flex;
        justify-content: center;
        text-decoration: none;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 25px;
        color: $white;
        align-items: center;
        gap: 9px;
        text-shadow: 4px 4px 10px black;
        animation: scroll 2s infinite;
        transition: .2s all ;
        &:hover{
            animation: none;
        }
        &::after{
            content: "";
            width: 16px;
            height: 24px;
            background-image: url(../img/lowbtn.svg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
} 

.header{
    padding-top: 6.4rem;
    padding-bottom:19.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        color: $white;
        text-decoration: none;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3.3rem;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }
    &__nav{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    &__link{
        text-decoration: none;
        color: $white;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        transition: .2s all linear;
        &:hover{
            color: #C0C0C0;
        }
    }
    &__search{
        display: flex;
        align-items: center;
        gap: 1.7rem;
        text-decoration: none;
        color: rgba($white, .6);
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.3rem;
        &::before{
            content: "";
            width:2rem;
            height: 2rem;
            background-image: url(../img/search.svg);
            background-position: center center;
            background-size: 13.84px 13.84px;
            background-repeat: no-repeat;
            opacity: .6;
        }
    }
}

.east{
    padding-bottom: 25rem;
    //padding-top: 10px;
    background-color: black;
    &__flex{
        display: flex;
        align-items: center;
        //justify-content: space-between;
        gap: 23.2rem;
    }
    &__cover{
        height: 720px;
        flex-basis: 598px;
    }
    &__img{
        height: 720px;
        width: 598px;
    }
    &__text{
    }
    &__subtitle{
        margin-top: 0;
        margin-bottom: 2.7rem;
        color: $peach;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 25px;
        letter-spacing: 6px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 32px;
        &::before{
            content: "";
            width: 72px;
            height: 2px;
            background-color: $peach;
        }
    }
    &__question{
        margin-top: 0;
        margin-bottom: 2.7rem;
        font-style: normal;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 87px;
        max-width: 500px;
        color: #FFFFFF;

    }
    &__answer{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 32px;
        color: #FFFFFF;
        max-width: 632px;
    }
    &__link{
        display: flex;
        align-items: center;
        gap: 9px;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FBD784;
        transition: .2s all;
        &::after{
            content: "";
            width: 24px;
            height: 16px;
            background-image: url(../img/rightarrow.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover{
            color: #ffedc2;
            &::after{
                fill:#ffedc2;
            }
        }
    }
}
.swipe{
    background-color: black;
    padding-bottom: 22.7rem;
}
.swiper{
    &__toptext{
        margin: 0;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        padding-top: 53.3rem;
        justify-content: center;
        color: $peach;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 25px;
        letter-spacing: 6px;
        text-transform: uppercase;
        gap: 3rem;
        &::after{
            content: "";
            width: 72px;
            height: 2px;
            background-color: $peach;
        }
        &::before{
            content: "";
            width: 72px;
            height: 2px;
            background-color: $peach;
        }
    }
    &__logo{
        margin: 0;
        margin: 0 auto;
        margin-bottom: 2.7rem;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 87px;
        color: $white;
        max-width: 700px;
    }
    &__subtitle{
        margin: 0 auto;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 32px;
        color: $white;
        max-width: 934px;
        text-align: center;
        margin-bottom:3.9rem ;
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FBD784;
        padding-bottom: 4.1rem;
        transition: .2s all;
        &::after{
            content: "";
            width: 24px;
            height: 16px;
            background-image: url(../img/rightarrow.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover{
            color: #ffedc2;
            &::after{
                fill:#ffedc2;
            }
        }
    }
    //box-sizing: border-box;
    //height: 720px;
    &-slide{
        background-image: url(../img/swipers.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

.swiper-button-next{
    &::after{
        font-size: 24px;
        color: $white;
    }
}
.swiper-button-prev{
    &::after{
        font-size: 24px;
        color: $white;
    }
}

.culture{
    padding-bottom:25rem;
    background-color: black;
    &__flex{
        display: flex;
        align-items: center;
        gap: 21rem;
    }
    &__text{
        flex-basis: 40%;
    }
    &__img{
        width: 578px;
        height: 720px;
    }
    &__toptext{
        margin: 0;
        margin-bottom: 39px;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 25px;
        /* identical to box height */
        color:$peach;
        letter-spacing: 6px;
        text-transform: uppercase;
        &::before{
            content: "";
            width: 72px;
            height: 2px;
            background-color: $peach;

        }
    }
    &__title{
        margin: 0;
        margin-bottom:27px;
        font-style: normal;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 87px;
        color: $white;
    }
    &__subtitle{
        max-width: 632px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 32px;
        color: $white;
        margin-bottom: 2.7rem;
    }
    &__link{
        display: flex;
        
        align-items: center;
        gap: 9px;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #FBD784;
        padding-bottom: 4.1rem;
        transition: .2s all;
        &::after{
            content: "";
            width: 24px;
            height: 16px;
            background-image: url(../img/rightarrow.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:hover{
            color: #ffedc2;
            &::after{
                fill:#ffedc2;
            }
        }
    }
}

.footer{
    background-color: black;
    padding-bottom: 18.8rem;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5.5rem;
        border-bottom: 1px solid rgba(#979797, $alpha: .3) ;
    }
    &__logo{
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 65px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: $white;
    }
    &__flexlink{
        display: flex;
        align-items: center;
        gap: 55px;
    }
    &__redy{
        color: $white;
        font-family:$DM;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 29px;
        letter-spacing: -0.3px;
        transition: .2s all linear;
        &:hover{
            color: #707070;
        }
    }
    &__start{
        color: black;
        text-decoration: none;
        font-family:$DM;
        font-style: normal;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 22px;
        padding: 24px 70px 24px 70px;
        background-color: #FFA343;
        border-radius: 8px;
        transition: .2s all linear;
        &:hover{
            background-color: #ffa443c7;
        }
    }
    &__flexmenu{
        padding-top:5.5rem;
        display: flex;
        align-items: flex-start;
        gap: 25rem;
        padding-bottom: 10.1rem;
    }
    &__links{
        display: flex;
        align-items: flex-start;
        gap: 18.4rem ;
    }
    &__subtitle{
        margin: 0;
        margin-bottom: 5rem;
        color: $white;
        font-style: normal;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 49px;
        letter-spacing: -0.3px;
    }
    &__form{
        flex-basis:400px;
        border-bottom: 1px solid rgba(#979797, $alpha: .3) ;
    }
    &__formflex{
        display: flex;
    }
    &__input{
        font-family: $DM;
        box-sizing: border-box;
        outline: none;
        font-size: 1.5rem;
        width: 330px;
        background-color: transparent;
        color: #7F7F7F;
        border: 0;
        padding: 19px 0 35px 14px;
    }

    &__send{
        width: 70px;
        height: 70px;
        background-color: #FFA343;
        background-image: url(../img/arrow.svg);
        background-position: center center;
        border-radius: 8px 8px 0px 0px;
        background-size: 8px 13px;
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        transition: .2s all;
        &:hover{
            background-color: #ffd1a0;
        }
    }
    &__services{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 4.5rem ;
    }
    &__servtext{
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 0px;
        color: $peach;
        letter-spacing: -0.231818px;
    }
    &__link{
        text-decoration: none;
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 0px;
        letter-spacing: -0.204545px;
        transition: .2s all;
        &:hover{
            color: #7F7F7F;
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__linkbox{
        display: flex;
        align-items: center;
        gap: 8.8rem;
    }
    &__infolink{
        text-decoration: none;
        font-family: $DM;
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 20px;
        letter-spacing: -0.204545px;
        transition: .2s all;
        &:hover{
            color: #7F7F7F;
        }
    }
    &__social{
        display: flex;
        align-items: center;
        gap: 5.1rem;
    }
    &__sosiallink{
        display: block;
        width: 30px;
        height: 30px;
        &_1{
            background-image: url(../img/face.svg);
            background-size: 12px 27px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &_2{
            background-image: url(../img/twitter.svg);
            background-size: 28px 24px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &_3{
            background-image: url(../img/inst.svg);
            background-size: 28px 30px;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

@keyframes scroll {

    0%{
        text-shadow: 4px 4px 20px black;
    }
    50%{
        text-shadow: 4px 4px 10px black;
    }
    100%{
        text-shadow: 4px 4px 20px black;
    }
    
}